@import 'tailwindcss';

@theme {
  --color-btnCancel: #f7adaf;
  --color-btnConfirm: #4ad29b;

  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-pastelPink: #fadadd;
  --color-pastelYellow: #fff4b1;
  --color-pastelgreen: #d4f1be;
  --color-pastelblue: #d6efff;
  --color-pastelpurple: #e3d7ff;
  --color-peach: #ffe5b4;
  --color-mint: #c4f0c5;
  --color-lavender: #eadcf8;
  --color-softcoral: #ffd5cd;
  --color-skygray: #e6ebf5;

  /* 단어장 선택 색상  */
  --color-pastelRose: #f28b82;
  --color-pastelLemon: #fdd663;
  --color-pastelGreen: #81c995;
  --color-pastelSky: #7daedc;
  --color-pastelLavender: #a285c7;
  --color-pastelRoseLight: #f8bfb4;
  --color-pastelLemonLight: #fff0b0;
  --color-pastelGreenLight: #a8d3b7;
  --color-pastelSkyLight: #b9d4ef;
  --color-pastelLavenderLight: #d2c4e4;

  /* 메인 색상 (겹치지 않음) */
  --color-memonIndigo: #6675ff;
  --color-memonApricot: #ffb784;
  --color-memonPistachio: #9bcf53;
  --color-memonRosewood: #db7093;
  --color-memonTeal: #56c1c1;

  /* 서브/강조 색상 */
  --color-memonIndigoDark: #4c5ed8;
  --color-memonApricotDark: #f09a63;
  --color-memonPistachioDark: #7fb742;
  --color-memonRosewoodDark: #c25878;
  --color-memonTealDark: #3ca9a9;

  /* 파스텔톤 블루/시안 계열 */
  --color-pastelSkyBlue: #b5ecff;
  --color-softAqua: #a0f0f9;
  --color-babyBlue: #aedff7;
  --color-powderCyan: #c1f5fc;
  --color-lightCapri: #a4e7f5;

  /*  메인 테마 컬러 */
  --color-primary: #6eb8f1;
  --color-primary-hover: #5aaeea;
  --color-primary-soft: #b0e0ff;

  /*  보조 메인 컬러 */
  --color-primary2: #46d1f3;
  --color-primary2-soft: #aee9f7;

  /* 기타 블루 계열 */
  --color-base2: #4fe7df;
  --color-base4: #81eefe;

  /*  기타 */
  --color-lime: #bada55;
  --color-dol: #72cffd;
}
